{{ codify (printf (escapeShortcodes .Message) "<REPLACEMENT TEXT>" "<CURRENT TEXT>") }}
{{ with .Swap }}
| Current text | Replacement text |
| ------------ | ---------------- |
{{ range $current, $replacement := . -}}
| `{{ escapeForTable $current }}` | `{{ escapeForTable $replacement }}` |
{{ end -}}
{{ end }}
