name: Documentation CI
description: |
  This action provides consistent steps for documentation CI.

  All steps require the `contents: read` permission


  To use the build step, you'll need the following additional permissions:

  ```yaml
  checks: write
  ```

  To use the Vale step, you'll need the following additional permissions:

  ```yaml
  security-events: write
  ```
on:
  workflow_call:
    inputs:
      build:
        default: false
        description: Whether to test a website build.
        type: boolean
      build-website-directory:
        default: content/docs/test-build
        description: Directory to mount documentation for the build job.
        type: string
      build-website-image:
        default: grafana/docs-base:latest
        description: Container image to run for build-website action.
        type: string
      build-website-source-directory:
        default: docs/sources
        description: Path to source directory for build-website action.
        type: string

      prettier:
        default: false
        description: Whether to enforce Prettier formatting.
        type: boolean
      prettier-directory:
        default: docs/sources
        description: Directory to lint with Prettier.
        type: string

      readability:
        default: false
        description: Whether to run the readability report.
        type: boolean
      readability-directory:
        default: docs/sources
        description: Directory containing documentation for linting.
        type: string

      vale:
        default: false
        description: Whether to run the Vale linter.
        type: boolean
      vale-directory:
        default: docs/sources
        description: Directory containing documentation for linting.
        type: string
      vale-filter:
        default: ""
        description: Vale filter that allows you to report an arbitrary subset of the Grafana style.
        type: string

      sparse-checkout:
        default: ""
        description: |
          Do a sparse checkout on given patterns. Each pattern should be separated by new lines.
          If not provided, a full checkout will be performed.
        type: string

jobs:
  prettier:
    if: inputs.prettier
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          sparse-checkout: ${{ inputs.sparse-checkout }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20
      - env:
          DIRECTORY: ${{ inputs.prettier-directory }}
        run: |
          npm install --no-save prettier
          npx prettier -w "${DIRECTORY}"
          if ! git diff --exit-code; then
            echo "Not all documentation has been formatted with prettier, run 'npx prettier -w ${DIRECTORY}' and commit the result to resolve the issue."
          fi
  build:
    if: inputs.build
    permissions:
      contents: read
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Build website
        uses: grafana/writers-toolkit/build-website@7e0981fdbf5a4446e309ecb655596a71113d60ae # build-website/v1
        with:
          image: ${{ inputs.build-website-image }}
          source_directory: ${{ inputs.build-website-source-directory }}
          website_directory: ${{ inputs.build-website-directory }}

  vale:
    if: inputs.vale
    permissions:
      contents: read
      pull-requests: read
      security-events: write
    runs-on: ubuntu-latest
    container:
      image: grafana/vale:0a6e26fcc84a852b71454f4cd64aa3eeba41f75f
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        if: github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch'
        with:
          persist-credentials: false
          sparse-checkout: ${{ inputs.sparse-checkout }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        if: github.event_name == 'push'
        with:
          fetch-depth: 2
          persist-credentials: false
          sparse-checkout: ${{ inputs.sparse-checkout }}
      - uses: grafana/writers-toolkit/vale-action@f49dd90f007967990095ac2d18c5bdf37b412a5f # vale-action/v1.4.5
        with:
          directory: ${{ inputs.vale-directory }}
          filter: ${{ inputs.vale-filter }}

  report-readability:
    if: inputs.readability && github.event_name == 'pull_request'
    permissions:
      contents: read
      pull-requests: write
    container:
      image: grafana/vale:0a6e26fcc84a852b71454f4cd64aa3eeba41f75f
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository with history
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
          sparse-checkout: ${{ inputs.sparse-checkout }}

      - name: Report readability
        uses: grafana/writers-toolkit/readability@f3a94170b240b67204e3407a8b026484c7e23947
        with:
          directory: ${{ inputs.readability-directory }}
