# To use this workflow to test the publish-technical-documentation-release action:
#   1. Create a branch `test/publish-technical-documentation/v<MAJOR>.<MINOR>.x`.
#   2. Iterate on the workflow or action.
#   3a. To test push events, push the branch.
#   3b. To test tag events, tag the branch with `test/publish-technical-documentation/v<MAJOR>.<MINOR>.<PATCH>`.
#   4. Check the workflow output in https://github.com/grafana/writers-toolkit/actions.

name: test-publish-technical-documentation-release

permissions: {}

on:
  push:
    branches:
      - test/publish-technical-documentation-release/v[0-9]+.[0-9]+.x
    tags:
      - test/publish-technical-documentation-release/v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:

jobs:
  sync:
    if: github.repository == 'grafana/writers-toolkit'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: ./publish-technical-documentation-release
        with:
          release_tag_regexp: "^test/publish-technical-documentation-release/v(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$"
          release_branch_regexp: "^test/publish-technical-documentation-release/v(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.x$"
          release_branch_with_patch_regexp: "^test/publish-technical-documentation-release/v(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$"
          website_branch: test/publish-technical-documentation-release
          website_directory: content/docs/publish-technical-documetation-release
          version_suffix: ""
