name: Validate documentation
on:
  pull_request:
    paths: ["docs/sources/**"]
  workflow_dispatch:
jobs:
  doc-validator:
    runs-on: "ubuntu-latest"
    container:
      image: "grafana/doc-validator:v3.2.0"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v3"
      - name: "Run doc-validator tool"
        run: >
          doc-validator
          '--skip-checks=^image.+$'
          docs/sources
          /docs/writers-toolkit
          | reviewdog
          -f=rdjsonl
          --fail-on-error
          --filter-mode=nofilter
          --name=doc-validator
          --reporter=github-pr-review
        env:
          REVIEWDOG_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  prettier:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "EPMatt/reviewdog-action-prettier@v1"
        with:
          fail_on_error: true
          filter_mode: "nofilter"
          github_token: "${{ secrets.github_token }}"
          level: "info"
          reporter: "github-pr-review"
  test:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out code"
        uses: "actions/checkout@v3"
      - name: "Build website"
        run: |
          docker run -v ${PWD}/docs/sources:/hugo/content/docs/writers-toolkit -e HUGO_REFLINKSERRORLEVEL=ERROR --rm grafana/docs-base:latest /bin/bash -c 'make hugo'
  vale:
    runs-on: "ubuntu-latest"
    container:
      image: "grafana/vale:jdb-2023-07-vale"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v3"
      - name: "Run linter"
        run: "/bin/vale --minAlertLevel=error --config=vale/.vale.ini --output=/etc/vale/rdjsonl.tmpl ./docs/sources | /bin/reviewdog --fail-on-error --filter-mode=nofilter --f=rdjsonl --name=vale --reporter=github-pr-review"
        env:
          REVIEWDOG_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  report-readability:
    name: Report readability
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo with history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: Rebilly/lexi@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          glob: "**/*.md"
