name: Validate Policy Bot Config

permissions: {}

on:
  pull_request:
    paths:
      - ".policy.yml"

  push:
    branches:
      - main
    paths:
      - ".policy.yml"

jobs:
  validate:
    name: Validate policy bot config

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Validate policy bot config
        run: >
          curl
          --silent
          --fail-with-body
          --request PUT
          --upload-file .policy.yml
          https://github-policy-bot.grafana-ops.net/api/validate
